<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Simple head -->
<head th:fragment="simple-head">
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <title>Hexlet Typos</title>
    <!-- Bootstrap CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- DataTable CSS -->
    <link href="webjars/jquery/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
</head>
</html>
