<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/simple-head :: simple-head}">
<body>
<!-- Header -->
<div th:replace="~{fragments/header :: header}"></div>
<!-- Main -->
<main class="flex-shrink-0 my-5">
    <div class="container">
        <h4 th:text="#{account.header.edit}"></h4>
        <form th:action="@{/accounts}" th:object="${accountPutDto}" th:method="put">
            <input type="hidden" name="_method" value="put"/>
            <div class="form-row">
                <div class="form-group col-md-6 mb-3">
                    <label for="firstName" th:text="#{account.field.first-name}"></label>
                    <input id="firstName" class="form-control" type="text" aria-describedby="first-name-help" required
                           th:errorclass="is-invalid" th:field="*{firstName}">
                    <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="invalid-feedback"></div>
                    <small id="first-name-help" class="form-text text-muted" th:errors="*{firstName}"></small>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" th:text="#{auth.password}"></span>
                        </div>
                        <input id="password" class="form-control"
                               minlength="6" type="password" required
                               aria-describedby="passwordHelp"
                               placeholder="Enter password"
                               th:field="*{password}">
                    </div>
                    <small id="passwordHelp"
                           class="form-text text-muted"
                           th:text="#{auth.password.hint}"></small>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{action.save}"></button>
        </form>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
