<!doctype html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <title th:text="#{common.header.registration}">registration</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:replace="~{fragments/head-styles}">
</head>
<body class="d-flex flex-column h-100">
<!-- Header -->
<div th:replace="~{fragments/header :: header}"></div>
<!-- Main -->
<main class="flex-shrink-0 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="glyphicon glyphicon-user" style="font-size:2em;"></i></h3>
                            <h2 class="text-center" th:text="#{account.header.registration}"></h2>
                            <div class="panel-body">
                                <div th:if="${param.success}">
                                    <div class="alert alert-info">
                                        You've successfully registered to our awesome app!
                                    </div>
                                </div>

                                <form th:action="@{/registration}" th:object="${accountPostDto}" method="post">
                                    <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                                       th:each="error : ${#fields.errors('global')}" th:text="${error}"></p>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error':''">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                                            <input class="form-control" type="text" th:field="*{firstName}"
                                                   th:placeholder="#{account.field.firstName}" th:errorclass="is-invalid"/>
                                        </div>
                                        <p class="error-message" th:each="error: ${#fields.errors('firstName')}" th:text="${error}"></p>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error':''">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                                            <input class="form-control" type="text" th:field="*{lastName}"
                                                   th:placeholder="#{account.field.lastName}" th:errorclass="is-invalid"/>
                                        </div>
                                        <p class="error-message" th:each="error: ${#fields.errors('lastName')}" th:text="${error}"></p>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error':''">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user color-blue"></i></span>
                                            <input class="form-control" type="text" required th:field="*{username}"
                                                   th:placeholder="#{account.field.username}" th:errorclass="is-invalid"/>
                                        </div>
                                        <p class="error-message" th:each="error: ${#fields.errors('username')}" th:text="${error}"></p>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                                        <div class="input-group">
                                            <span class="input-group-addon">@</span>
                                            <input class="form-control" type="email" required th:field="*{email}"
                                                   th:placeholder="#{account.field.email}" th:errorclass="is-invalid"/>
                                        </div>
                                        <p class="error-message" th:each="error: ${#fields.errors('email')}" th:text="${error}"></p>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('emailConfirm')}? 'has-error':''">
                                        <div class="input-group">
                                            <span class="input-group-addon">@</span>
                                            <input class="form-control" type="email" required th:field="*{emailConfirm}"
                                                   th:placeholder="#{account.field.emailConfirm}" th:errorclass="is-invalid"/>
                                        </div>
                                        <p class="error-message" th:each="error: ${#fields.errors('emailConfirm')}" th:text="${error}"></p>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                            <input class="form-control" type="password" required th:field="*{password}"
                                                   th:placeholder="#{account.field.password}" th:errorclass="is-invalid"/>
                                        </div>
                                        <ul class="text-left" th:each="error: ${#fields.errors('password')}">
                                            <li th:each="message : ${error.split(',')}">
                                                <p class="error-message" th:text="${message}"></p>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="form-group" th:classappend="${#fields.hasErrors('passwordConfirm')}? 'has-error':''">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                            <input class="form-control" type="password" required th:field="*{passwordConfirm}"
                                                   th:placeholder="#{account.field.passwordConfirm}" th:errorclass="is-invalid"/>
                                        </div>
                                        <ul class="text-left" th:each="error: ${#fields.errors('passwordConfirm')}">
                                            <li th:each="message : ${error.split(';')}">
                                                <p class="error-message" th:text="${error}"></p>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success btn-block" th:value="#{auth.registration}"></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">Already registered?<a th:href="@{/login}">Login</a></div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
