<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/simple-head :: simple-head}">
<body>
<!-- Header -->
<div th:replace="~{fragments/header :: header}"></div>
<!-- Main -->
<main class="flex-shrink-0 my-5">
    <div class="container">
        <h4 th:text="#{account.header.info}"></h4>
        <div class="alert alert-warning alert-dismissible fade show"
             role="alert" th:if="${warning}" th:text="${warning}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div th:if="${accountGetDto}">
            <div th:object="${accountGetDto}">
                <div class="table-responsive-md">
                    <table class="table table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th th:text="#{field.id}"></th>
                            <th th:text="#{account.field.name}"></th>
                            <th th:text="#{account.field.email}"></th>
                            <th th:text="#{account.field.corrections.size}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="*{id}"></td>
                            <td th:text="*{name}"></td>
                            <td th:text="*{email}"></td>
                            <td th:text="*{corrections.size()}"></td>
                            <td>
                                <a class="btn btn-outline-secondary"
                                   th:href="*{'/accounts/edit/' + id}" th:text="#{action.edit}"></a>
                            </td>
                            <td>
                                <form action="#" th:action="@{'/accounts/{id}'(id=*{id})}" th:method="delete">
                                    <input type="hidden" name="_method" value="delete"/>
                                    <button class="btn btn-outline-danger" type="submit" id="deleteAccount"
                                            th:text="#{action.delete}"></button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:unless="${#lists.isEmpty(accountGetDto.corrections)}" class="table-responsive-md">
                <div class="card border-secondary mb-12"
                     style="max-width: 18rem;"
                     th:each="correctionGetDto : ${accountGetDto.corrections}"
                     th:object="${correctionGetDto}">
                    <div class="card-header d-flex flex-column py-2 text-white">
                        <div class='d-flex row justify-content-between'>
                            <p class='ml-auto my-auto' th:text="(#{field.id}) + (*{account})"></p>
                            <p class='ml-auto my-auto' th:text="'Posted by: ' + *{account}"></p>
                            <p class='ml-auto my-auto' th:text="'Moderated by: ' + *{account}"></p>
                            <p class='ml-auto my-auto' th:text="'URL: ' + *{pageURL}"></p>
                        </div>
                    </div>
                    <div class="card-body text-secondary">
                        <h5 class="card-title">Secondary card title</h5>
                        <p class="card-text">
                        <div th:text="*{beforeHighlight}"></div>
                        <strong th:text="*{highlightText}"></strong>
                        <div th:text="*{afterHighlight}"></div>
                        <p class="card-text" th:text="*{comment}"></p>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th th:text="#{field.id}"></th>
                        <th th:text="#{correction.field.url}"></th>
                        <th th:text="#{correction.field.comment}"></th>
                        <th th:text="#{correction.field.highlight}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="correctionGetDto : ${accountGetDto.corrections}" th:object="${correctionGetDto}">
                        <td th:text="*{id}"></td>
                        <td th:text="*{pageURL}"></td>
                        <td th:text="*{comment}"></td>
                        <td th:text="*{beforeHighlight}"></td>
                        <td th:text="*{highlightText}"></td>
                        <td th:text="*{highlightText}"></td>
                        <td>
                            <a class="btn btn-outline-info"
                               th:href="${'/corrections/' + correctionGetDto.id}" th:text="#{action.view}"></a>
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary"
                               th:href="${'/corrections/update/' + correctionGetDto.id}" th:text="#{action.edit}"></a>
                        </td>
                        <td>
                            <form action="#" th:action="@{'/corrections/{id}'(id=${accountGetDto.id})}" th:method="delete">
                                <input type="hidden" name="_method" value="delete"/>
                                <button class="btn btn-outline-danger" type="submit" id="deleteCorrection"
                                        th:text="#{action.delete}"></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
